<%= form_for(p_ost) do |f| %>
  <% if p_ost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(p_ost.errors.count, "error") %> prohibited this p_ost from being saved:</h2>

      <ul>
      <% p_ost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
