<p id="notice"><%= notice %></p>

<h1>P Osts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @p_osts.each do |p_ost| %>
      <tr>
        <td><%= p_ost.title %></td>
        <td><%= link_to 'Show', p_ost %></td>
        <td><%= link_to 'Edit', edit_p_ost_path(p_ost) %></td>
        <td><%= link_to 'Destroy', p_ost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New P Ost', new_p_ost_path %>
