<%= form_for(post) do |f| %>
    <!-- Trimming error display code -->
    <!-- Existing title field -->
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  
    <!-- Create a new div element to hold body -->
    <div class="field">
      <!-- The label that appears next to field -->
      <%= f.label :body %>
      <!-- The field itself -->
      <!-- Using text_area instead of text_field
      <!-- makes it bigger -->
      <%= f.text_area :body %>
    </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
