<%= form_for(model_name) do |f| %>
  <% if model_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model_name.errors.count, "error") %> prohibited this model_name from being saved:</h2>

      <ul>
      <% model_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :attribute1 %>
    <%= f.text_field :attribute1 %>
  </div>

  <div class="field">
    <%= f.label :attribute2 %>
    <%= f.text_field :attribute2 %>
  </div>

  <div class="field">
    <%= f.label :... %>
    <%= f.text_field :... %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
