<p id="notice"><%= notice %></p>

<h1>Model Names</h1>

<table>
  <thead>
    <tr>
      <th>Attribute1</th>
      <th>Attribute2</th>
      <th>...</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @model_names.each do |model_name| %>
      <tr>
        <td><%= model_name.attribute1 %></td>
        <td><%= model_name.attribute2 %></td>
        <td><%= model_name.... %></td>
        <td><%= link_to 'Show', model_name %></td>
        <td><%= link_to 'Edit', edit_model_name_path(model_name) %></td>
        <td><%= link_to 'Destroy', model_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Model Name', new_model_name_path %>
