<p id="notice"><%= notice %></p>

<p>
  <strong>Attribute1:</strong>
  <%= @model_name.attribute1 %>
</p>

<p>
  <strong>Attribute2:</strong>
  <%= @model_name.attribute2 %>
</p>

<p>
  <strong>...:</strong>
  <%= @model_name.... %>
</p>

<%= link_to 'Edit', edit_model_name_path(@model_name) %> |
<%= link_to 'Back', model_names_path %>
